body {
  padding: 100px;
}

#transaction-area {
  display: none;
}

.deposit {
  background-color: slateblue;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: orange;
}
.status {
  color: white;
  padding: 20px;
  margin: 0px 20px;
  border-radius: 10px;
}

.submit {
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 20px;
}
